<div class="tray" data-tray>
  <div class="tray__inner">
    <button class="toggle button" data-toggle-tray>
      Pizza Style
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        class="button__icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 15l7-7 7 7"
        />
      </svg>
    </button>
    <div class="tray__content">
      {% for pizza in pizzas %}
        <a href="/pizza/{{ pizza.slug }}/" class="{{ 'active' if page.url === '/pizza/' + pizza.slug + '/' }}">
          {{ pizza.name }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
