<video
  class="video"
  poster="/static/{{ video|default('ppz01') }}/cover.jpg"
  autoplay
  muted loop
  playsinline
>
  <source src="/static/{{ video|default('ppz01') }}/pizza.mp4" type="video/mp4" />
</video>
