:root {
  /* https://coolors.co/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */
  --primary: #d00000;
  --primary-dark: #6a040f;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font: 1em/1.6 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #f48c06;
  color: #fff;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.pizza-counter {
  position: relative;
}

.credit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 75;
  display: flex;
  margin-top: auto;
  flex-direction: row;
  justify-content: center;
}

.credit a {
  display: block;
  padding: 0.3em 2em;
  margin: 1.25em 0.625em;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.25);
  background-color: var(--primary);
  border-radius: 0.25em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.credit a:hover {
  background-color: var(--primary-dark);
  transform: translateY(-0.125em);
}
