:root {
  --primary-h: 0;
  --primary-s: 100%;
  --primary-l: 41%;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font: 1em/1.6 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #f48c06;
  color: #fff;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.pizza-counter {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.credit {
  --background-opacity: 0.5;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  z-index: 75;
  padding: 0.666em 1.333em 0.6em;
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.333;
  background-color: hsl(var(--primary-h), var(--primary-s), var(--primary-l), var(--background-opacity));
  backdrop-filter: blur(8px);
  transition: background 333ms ease-in-out;
}

.credit:hover,
.credit:focus-within {
  --background-opacity: 1;
}

.credit a {
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.credit a:hover,
.credit a:focus {
  background-color: white;
  color: black;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%);
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
